*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Muli', sans-serif;

}
.bacjimg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.bacjimg:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}
.menubar{
    width: 100%;
    height: 100px;
    padding: 25px 150px;
    display: flex;
    justify-content: space-between; 
}

.logo{
    align-items: left;
    width: auto;
}

.menubar .logo img{
    width: 60px;
    height: 60px;
}

.logo, .menubuttons, .btnmenu{
    display: inline-block;
}

.menubuttons{
    top: 0;
    width: auto;
    display:flex;
    justify-content: space-between;
}


.btnmenu{
    top: 0;
    height:100%;
    margin:10px;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
}

.btnpink{
    background-color: #E40C34;
    padding: 15px 25px;    
    top: 0;
    height:100%;
    width: 200px;
    margin:10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
}

.poster{
    padding: 0 150px;
    padding-top: 150px;
    width: 50%;
}
.poster .btnmenu{
    margin-left: 0;
    width: 200px;
}
.poster h1{
    font-size:45px;
    font-weight: 700;
}
.barimg{
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
}

.imgbar{
    border-radius: 10px;
    border: 1px solid #E40C34;
    width:350px;
    height:200px;
    margin:50px 30px;
    background-color:aliceblue;
    
}

.imgbar img{
    width:100%;
    height:100%;
    border-radius: 10px;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    text-decoration: none;
}

.btnpink:hover{
    background-color:#df3a58;
}

.btnmenu:hover{
    background-color: rgba(240, 239, 239, 0.4);
}

.btnmenu a:hover{
    color: #E40C34;
}

.imgbar img:hover{
    opacity: 0.9;
}
